<p>
  <%= f.label :vimeo_clip_id %><br/>
  <%= f.text_field :vimeo_clip_id %>
</p>

<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :desription %><br/>
  <%= f.text_area :description %>
</p>