<h1>Movies</h1>

<%= link_to "Create Movie &raquo;", new_admin_movie_path %>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Vimeo Identifier</th>
    <th></th>
    <th></th>
  </tr>
  <tbody id="sortable">
    <% @movies.each do |movie| %>
      <tr class="<%= cycle('odd', 'even') %>" id="movie_<%= movie.id %>">
        <td class="movie-thumb-<%= movie.vimeo_clip_id %>"></td>
        <td width='2000'><%= movie.vimeo_clip_id %></td>
        <td class="handle"></td>
        <td width='40' align="center"><%= link_to "Edit", edit_admin_movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#sortable").sortable({
      axis:'y',
      handle:'.handle',
      update: function(event, ui){
        $.ajax({
          type: 'put',
          data: $("#sortable").sortable('serialize'),
          traditional: true,
          url:'<%= prioritize_movies_admin_movies_path %>',
        })
      }
    });
    $(".sortable").disableSelection();
  });

  $.getJSON("http://vimeo.com/api/v2/trunkfilms/all_videos.json?callback=?", function(data){
    $.each(data, function(index, value){
      var image = $(document.createElement("img"));
      image.attr({ src: value.thumbnail_small });
      $("td.movie-thumb-"+value.id).append(image);
    })
  });

</script>